.vscode/**
.vscode-test/**
client/src/**
server/src/**
.gitignore
**/*.ts
**/*.map
client/node_modules/typescript/**
client/node_modules/@types/**
server/node_modules/typescript/**
server/node_modules/@types/**